body {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.015em;
  color: #b3b3b3;
  text-transform: none;
}

.font-light {
  font-family: "Circular Spotify Tx T Light";
}
.font-regular {
  font-family: "Circular Spotify Tx T Black";
}
.font-book {
  font-family: "Circular Spotify Tx T Book";
}
.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
  flex-direction: column;
  position: relative;
  min-height: 0;
  background-color: #000;
  z-index: 3;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}


a,
a:hover,
a:focus i,
i:hover,
i:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

#sidebar {
  /* don't forget to add all the previously mentioned styles here too */
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  width: 232px;
  position: fixed;
  flex: 1;
  min-height: 0;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 3;
  cursor: default;
  background: rgb(0, 0, 0);
  transition: all 0.3s;
}
#sidebar .sidebar-header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-shrink: 0;
  background: inherit;
  width: 100%;
  border: 0;
  margin-bottom: 18px;
}
#sidebar .sidebar-header a {
  border: 0;
  margin-bottom: 18px;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 0 24px;
  position: relative;
}
#sidebar .sidebar-header img {
  width: 100%;
  max-width: 131px;
  height: 40px;
}

#sidebar ul.components.font-book {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

#sidebar ul.components.font-book li.nav {
  padding: 0 8px;
}
#sidebar ul.components.font-book li.nav a {
  border-radius: 4px;
  padding: 0 16px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  height: 40px;
  margin: 0;
  border: 0;
  vertical-align: baseline;
}
#sidebar ul.components.font-book li.nav a div.icon {
  margin-right: 16px;
}
#sidebar ul.components.font-book li.nav a span {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: normal;
  text-transform: none;
}
#sidebar ul.playlistComponents.font-book {
  padding: 20px 7px 5px;
  border-bottom: solid grey 1px;
}
#sidebar ul.installComponent.font-book {
  padding: 20px 7px 5px;
}

#sidebar ul p {
  padding: 10px;
}

#sidebar div.playlistContainer {
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-box-flex: 1;
  min-height: 0;
  --left-sidebar-item-height: 32px;
  --left-sidebar-padding-left: 24px;
  --left-sidebar-padding-right: 24px;
  --left-sidebar-item-pill-horizontal-padding: 7px;
  --left-sidebar-item-indentation-width: 16px;
  --left-sidebar-edit-input-height: 26px;
  position: relative;
  flex-direction: column;
  flex: 1;
  flex-grow: 1;
  flex-shrink: 0;
  margin-top: 24px;
}
#sidebar div.playlistContainer div.playlistsHeader {
  flex-direction: column;
  height: 100%;
  flex: 1;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-box-flex: 1;
  min-height: 0;
}
#sidebar div.playlistContainer div.playlistsHeader h1 {
  margin: 0;
  padding-left: 25px;
  min-height: 16px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  white-space: unset;
  word-break: break-all;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

#sidebar div.playlistContainer div button {
  color: #fff;
  opacity: 0.7;
  background-color: transparent;
  border: none;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  min-height: max-content;
  cursor: pointer;
  transition: opacity 0.2s linear;
  width: 100%;
  padding: 5px 23px;
}
#sidebar div.playlistContainer div button i {
  margin-right: 16px;
}
#sidebar div.playlistContainer div button span {
  text-align: left;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  white-space: unset;
  word-break: break-all;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: normal;
  text-transform: none;
}

hr.spot{
    margin: 8px 8px;
    background-color: #282828;
    border: none;
    height: 1px;
    min-height: 1px;
}

#sidebar ul li:hover {
  color: white;
  background: inherit;
}
#sidebar ul li.active:hover {
  color: white;
  background: rgb(40, 40, 40);
}
#sidebar ul.components.font-book li.nav.active {
  background-color: #282828;
  border-radius: 4px;
}
ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #6d7fcc;
}
