body {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1.5vw;
}
.spotify-logo {
  height: 60px;
  margin-top: -5px;
}
.box {
  padding-left: 20vh;
  padding-right: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.fab {
  font-size: 18px;
}
.btn {
  transition: 0.25s;
  cursor: pointer;
  outline: none;
  border: none;
}
.btn:focus {
  outline: none;
}
.box > .btn {
  font-size: 14px !important;
  letter-spacing: 2px !important;
  width: 450px;
  height: 50px;
  border-radius: 50px !important;
  margin-bottom: 11px;
}
.btn.fb {
  background-color: #3b5998;
  color: white;
}
.btn.fb:hover {
  background-color: #3a61b3;
  color: white;
}
.btn.ap {
  background-color: #000;
  color: white;
}
.btn.ap:hover {
  background-color: #333;
  color: white;
}
.btn.gg {
  color: grey;
  background-color: rgb(255, 255, 255);
  border: 2px solid grey;
}
.btn.gg:hover {
  color: white;
  background-color: grey;
}
.linktogg {
  transition: 0.25s ease;
  padding: 12px 14px 12px;
  border: 2px solid grey;
  display: block;

  text-decoration: none;
  color: grey;
  text-align: center;
  width: 428px;
  border-radius: 50px !important;
}
.linktogg:hover {
  color: white;
  background-color: grey;
}
.mb-3 > hr {
  width: 448px;
}
.btn.log {
  background-color: #15883e;
  border-radius: 50px;
  height: 48px;
  width: 200px;
  letter-spacing: 1px;
  font-size: 14px;
  color: white;
}
.btn.log:hover {
  background-color: #1db954;
  color: white;
}
.line {
  width: 193px;
  margin-top: -9px;
}
.ptag {
  margin-top: 10px;
  letter-spacing: 1px;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 12px;
}
.container.lines {
  justify-content: center;
  display: flex;
}

.input:focus {
  outline: none;
  border: 1px solid black;
}
.input {
  font-family: "Open Sans", sans-serif;
  margin-bottom: 11px;
  font-weight: 600;
  border: 1px solid rgb(194, 194, 194);
  margin-top: 10px;
  width: 432px;
  padding: 7px;
  font-size: 14px;
  line-height: 24px;
}
.link {
  color: grey !important;
}
.link:hover {
  color: rgb(10, 153, 10) !important;
}
.endbuttons {
  justify-content: space-between;
  width: 448px;
  margin-top: 40px;
  display: flex;
}
.text-fix {
  padding-left: 5px;
  padding-top: 2px;
}
input[type="checkbox"] + label {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  display: flex;
  margin: 0.2em;
  cursor: pointer;
  padding: 0.2em;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label:before {
  content: "\2714";
  border: 0.1em solid #1ed760;
  border-radius: 0.2em;
  display: inline-block;
  width: 14px;
  height: 1em;
  padding-left: 0.3em;
  padding-bottom: 0.3em;
  margin-right: 0.2em;
  vertical-align: bottom;
  color: transparent;
}

input[type="checkbox"]:checked + label:before {
  background-color: #1ed760;
  border-color: #1ed760;
  color: #fff;
}
hr {
  border-top: 1px solid rgb(219, 219, 219);
  border-bottom: none;
}
