.spotify-logo {
  padding-top: 16px;
  height: 56px;
}
.signupstuff {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#title {
  letter-spacing: -2px;
  font-size: 30px;
  color: #181818;
}
.linktofb {
  transition: 0.1s ease;
  padding: 12px 14px 12px;

  display: block;
  color: white;
  text-decoration: none;
  background-color: rgb(58, 88, 151);
  text-align: center;
  width: 428px;
  border-radius: 50px !important;
}
.linktofb:hover {
  background-color: rgb(107, 130, 177);
  transform: scale(1.05);
}
.ptag {
  font-size: 14px;
  margin-top: 20px;
}
.titlesign {
  font-size: 17px;
}
.signupinput {
  margin-top: -20px;
  width: 96%;
  border-radius: 4px;
  border: 1px solid rgb(189, 189, 189);
  outline: none;
  text-align: start;
  padding-left: 14px;
  height: 42px;
}
.align-start {
  font-size: 14px !important;
  align-self: flex-start;
}
.writetext-danger {
  align-self: flex-start;
  color: rgb(221, 41, 41);
}
.signinput-danger {
  border: 1px solid rgb(221, 41, 41);
}
.signupinput.months {
  margin-left: auto;
  margin-right: auto;
  width: 230px;
  height: 46px;
}
.signupinput.days {
  margin-right: auto;
  align-self: flex-start;
  width: 70px;
}
.signupinput.years {
  margin-left: auto;
  width: 80px;
}
/* custom Radio input */
:root {
  --color: #1db954;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.radio {
  display: grid;
  grid-template-columns: -webkit-min-content auto;
  grid-template-columns: min-content auto;
  grid-gap: 10px;
  font-size: 16px;
  color: var(--color);
}
.radio:focus-within .radio__label {
  transform: scale(1.05);
  opacity: 1;
}

.radio__label {
  line-height: 1;
  transition: 180ms all ease-in-out;
  opacity: 0.8;
}

.radio__input {
  display: flex;
}
.radio__input input {
  opacity: 0;
  width: 0;
  height: 0;
}

.radio-gradient input:checked + .radio__control {
  background: radial-gradient(currentcolor 50%, rgba(255, 0, 0, 0) 51%);
}

.radio-before .radio__control {
  display: grid;
  place-items: center;
}
.radio-before input + .radio__control::before {
  content: "";
  width: 0.5em;
  height: 0.5em;
  box-shadow: inset 0.5em 0.5em currentColor;
  border-radius: 50%;
  transition: 180ms transform ease-in-out;
  transform: scale(0);
}
.radio-before input:checked + .radio__control::before {
  transform: scale(1);
}

.radio__control {
  display: block;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  border: 1px solid currentColor;
  transform: translateY(-0.05em);
}
.row {
  display: flex;
  flex-direction: row;
}
.col-md-4 {
  width: 15vh;
}
.agreements {
  margin-top: 2vh;
  margin-right: 15px;
}
.input:focus {
  outline: none;
  border: 1px solid black;
}
.input {
  font-family: "Open Sans", sans-serif;
  margin-bottom: 11px;
  font-weight: 600;
  border: 1px solid rgb(194, 194, 194);
  margin-top: 10px;
  width: 432px;
  padding: 7px;
  font-size: 14px;
  line-height: 24px;
}
.link {
  color: grey !important;
}
.link:hover {
  color: rgb(10, 153, 10) !important;
}
.endbuttons {
  justify-content: space-between;
  width: 448px;
  margin-top: 40px;
  display: flex;
}
.text-fix {
  padding-left: 5px;
  padding-top: 2px;
}
input[type="checkbox"] + label {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  display: flex;
  margin: 0.2em;
  cursor: pointer;
  padding: 0.2em;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label:before {
  content: "\2714";
  border: 0.1em solid #1ed760;
  border-radius: 0.2em;
  display: inline-block;
  width: 14px;
  height: 1em;
  padding-left: 0.3em;
  padding-bottom: 0.3em;
  margin-right: 0.2em;
  vertical-align: bottom;
  color: transparent;
  box-sizing: unset;
}

input[type="checkbox"]:checked + label:before {
  background-color: #1ed760;
  border-color: #1ed760;
  color: #fff;
}
.greenlink:hover {
  color: #1ed760;
}
.greenlink {
  color: #1db954;
}
.green {
  background-color: rgb(29, 185, 84);
}
.green:hover {
  background-color: #1ed760;
}
.reCaptcha {
  background-image: url("/imgs/captcha.png");
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  width: 80%;
  background-color: #f9f9f9;
  height: 75px;
}
/* fake captcha */
#fake-captcha {
  flex-direction: row;
  width: 100%;
  text-align: center;
  font-size: 20px;
}

#fake-captcha:hover {
  color: #666;
}

#fake-checkbox {
  position: relative;
  background: transparent;
  width: 20px;
  height: 20px;
  border: 2px solid #ccc;
  border-radius: 5px;
  transition: all 0.2s;
}

#fake-checkbox:hover {
  border-color: #aaa;
  background: #eee;
}

#fake-captcha.loading {
  cursor: no-drop;
  color: #444;
}

.loading #fake-checkbox {
  border-radius: 50%;
  background: transparent;
  border-color: #1ed760;
  border-width: 1px;
  border-style: inset;
  animation: spin 1s infinite linear;
}
.checkbox-container {
  padding-top: 20px;
  padding-left: 10px;
}
.pass #fake-checkbox {
  background: #1ed760;
  border-color: #669f5600;
}

.pass #fake-checkbox:before {
  display: block;
  content: "\2713";
  font-size: 12px;
  color: #ffffff;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.fail {
  animation: fail 0.1s 4;
}

@keyframes fail {
  10% {
    color: white;
  }
  20% {
    background-color: yellow;
  }
  50% {
    color: rgb(190, 206, 45);
  }
  60% {
    content: "YOULL DIE" !important;
  }
  100% {
    background-color: red;
  }
}
/* end of fake captcha */
footer {
  min-height: 14vh;
}
@media (max-width: 569px) {
  .linktofb {
    width: 90vw;
  }
  .header {
    width: 99vw;
  }
  .align-start {
    padding-left: 30px;
  }
  .writetext-danger {
    padding-left: 30px;
  }
  .signupinput {
    margin-top: 0;
  }
  #fake-captcha {
    width: 80vw;
    padding-top: 20px;
    padding-left: 50px;
  }
}
